@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');



*{
    box-sizing: border-box;
    font-family: Kanit;
}
body{
    background-color: #fff;
    margin: 0;
    
}
header{

    background-image: url('https://cdn.pixabay.com/photo/2022/06/21/21/15/audio-7276511_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: relative;
}
button{
    cursor:pointer;
}
button:active{
    transform: scale(0.95);

}
input:focus,button:focus{
    outline: none;

}
form{
  position: relative;
  width: 500px;
  max-width: 100%;
}
form input{
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;

}
form button{
    background-color: coral;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
}
header::after{
    content: "";
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
header *{
    z-index: 1;
}
header h1{
    margin: 0 0 30px;
}
ul.songs{

    list-style-type: none;
    padding: 0;
    
    

}
.btn{
    background-color: rgb(211, 65, 52);
    border-radius: 10px;
    padding: 4px 10px;
    border: 0;
}
ul.songs li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.btn:hover{
    transform: scale(0.98);
}
ul.song{
    list-style-type: none;
    padding: 0;
}
.container{
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
}
.more{
    display: flex;
    justify-content: center;
}
.more .btn{
    margin: 10px;
}
